div#editor(
  data-day-of-week=ReportGroup::DAY_OF_WEEK.to_json
  data-report-group=report_group.to_json
)

script src='/js/common.js'
script src='/js/report-group-editor/index.js'
javascript:
  var dom = document.querySelector('#editor')
  var params = JSON.parse(dom.getAttribute('data-report-group'))
  params.dayOfWeek = JSON.parse(dom.getAttribute('data-day-of-week'))
  ReportGroupEditorRunner.run(dom, params)