@import bootstrap.min
@import gfm

.create-button
  @extend .btn, .btn-primary

.delete-button
  @extend .btn, .btn-danger

.add-button
  @extend .btn, .btn-primary

.submit-button
  @extend .btn, .btn-success

.submitting-button
  @extend .btn, .btn-default, .disabled

.move-button
  @extend .btn, .btn-default

input[type="text"]
  @extend .form-control

input[type="radio"],
input[type="checkbox"]
  width: 1.5em
  height: 1.5em

button,
a
  .fa
    margin-right: 0.25em

label
  white-space: nowrap
  padding-right: 2em
  cursor: pointer
  .input-input,
  .input-label
    display: inline-block
    vertical-align: middle
  .input-label
    padding-left: 0.5em

.wrap
  @extend .container

.navigation
  @extend .navbar, .navbar-default, .navbar-fixed-top

  .navigation-list
    @extend .nav, .navbar-nav

.content
  padding-top: 50px
  @extend .container

.column-row
  @extend .row
  overflow: hidden

.column2
  @extend .col-md-6

.form-section
  margin-bottom: 30px

.markdown-body
  del,
  del *
    background-color: #fcc
    color: #c00
  ins,
  ins *
    background-color: #cfc
    color: #0c0
    text-decoration: none

.timing-selector
  .day-number
    display: block
  .day-number-input
    white-space: nowrap
    input
      text-align: right
      display: inline-block
      width: 4em

.report-item-list
  padding: 0
  margin: 0
  width: 100%
  .move-button
    width: 34px
    padding: 0
    line-height: 32px
    &.up
      border-radius: 3px 0 0 3px
    &.down
      border-radius: 0 3px 3px 0
    .fa
      margin: 0
  li

  .report-item
    width: 100%
    list-style: none
    padding: 0
    margin: 0
    display: table-row
  .control,
  .input,
  .delete
    white-space: nowrap
    vertical-align: middle
    display: table-cell
    padding-bottom: 0.5em
  .long-input
    display: block
    padding-bottom: 0.5em
  .input
    width: 100%
  .delete
    padding-left: 0.5em
  .control
    padding-right: 0.5em
