@import bootstrap.min
@import gfm

.wrap
  @extend .container

.navigation
  @extend .navbar, .navbar-default, .navbar-fixed-top

  .navigation-list
    @extend .nav, .navbar-nav

.content
  padding-top: 50px
  @extend .container

.report-form
  .label

  .input

.markdown-body
  del
    background-color: #fcc
    color: #c00
  ins
    background-color: #cfc
    color: #0c0
    text-decoration: none